/*h1 {*/
/*    display: flex;*/
/*    justify-content: start;*/
/*    width: 100%*/
/*}*/
.hidden-on-desktop {
    display: none;
}



/*h2 {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/
.header-img img {
    width: 100%;
}

p1{
    font-size: 1em;
}
p2{
    display: flex;
    justify-content: center;
}


footer {
    display: flex;
    height: 500px;
    margin: 40px;
    flex-direction: column-reverse;
}

h1 {
    font-size: 2em;
}

.home{

    background-color: gray;
    max-width: 100%;
}
.work{
    background-color: gray;
    width: 100%;

}

.about{
    background-color: gray;
    width: 100%;
}

.contact{
    background-color: gray;
    width: 100%;

}
.column.subsection {
    flex: 0 0 35%;
}
@media screen and (max-width: 600px) {
    header.container .row {
        flex-direction: column;
    }
    #main .row {
        flex-direction: column;
    }
    .menu {
        align-items: center;
    }
    .hidden-on-desktop {
        display: flex;
    }
}

.nav{

    background-color: black;
}