/*h1 {*/
/*    display: flex;*/
/*    justify-content: start;*/
/*    width: 100%*/
/*}*/

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /*margin: 0px;*/
    width: 100%;
    list-style: none;
    padding: 20px;
}

/*h2 {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

p1{
    width:600px;
    font-size: 1em;
}
p2{
    display: flex;
    justify-content: center;
}

@media screen and (min-width:800px) {
    .hidden-on-desktop {

    }
}

footer {
    display: flex;
    height: 500px;
    margin: 40px;
    flex-direction: column-reverse;
}

h1 {
    font-size: 2em;
}