/*h1 {*/
/*    display: flex;*/
/*    justify-content: start;*/
/*    width: 100%*/
/*}*/

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /*margin: 0px;*/
    width: 100%;
    list-style: none;
    padding: 20px;
}

/*h2 {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

p1{
    width:600px;
    font-size: 1em;
}
p2{
    display: flex;
    justify-content: center;
}


footer {
    display: flex;
    height: 500px;
    margin: 40px;
    flex-direction: column-reverse;
}

h1 {
    font-size: 2em;
}

@media screen and (min-width:800px) {
    .hidden-on-desktop {
        display: none;
    }
}

@media screen and (min-width:400px) {
    menu {
        display: flex;

        align-items: center;
        text-align: center;
        text-decoration: unset;
        color: inherit;
        margin: 1px;=
        flex-grow: 1 0 0;
        width: 100%;
        height: auto;

    }
}

@media screen and (max-width: 600px) {
    /*ul {*/
    /*    display: flex;*/
    /*    justify-content: unset;*/
    /*    align-items: center;*/
    /*    text-align: center;*/
    /*    text-decoration: unset;*/
    /*    color: inherit;*/
    /*    margin: 1px;=*/
    /*    flex-direction: column;*/
    /*    !*flex-grow: 2 0 0;*!*/
    /*    width: 100%;*/
    /*    height: auto;*/
    /*}*/
    /*body {*/
    /*    background-color: black;*/
    /*}*/
    .row {
        flex-direction: column;
    }
    .menu {
        align-items: center;
    }
}